body { 
	padding-top: 70px;
	padding-bottom: 70px;
}
.section-header {
	margin-top: 0px;
	margin-bottom: 10px;
}

.albumgrid-thumbnail {
	margin-bottom: 30px;
}
#image-detail {
	border: 1px solid #ddd;
	padding: 4px;
	height: 440px;
}
#album-thumbnails {
	background-color: e7e7e7; 
	height: 450px;
}
ul#album-thumbnails.media-list {
	background-color: e7e7e7; 
}
li .media {
	background-color: e7e7e7; 	
	font-size: 10;
}
.footer {
    margin-top:15px;
    font-weight: bold;
}
.carousel-img img{
  width: auto;
  max-height: 520px;
  min-height: 520px;
  margin-left:auto;
  margin-right:auto;
}
