body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.section-header {
	margin-bottom: 25px;
}

.item-header {
	margin-bottom: 15px;
	margin-top: 0px;
}

.item-header {
	margin-bottom: 15px;
	margin-top: 5px;
}

.albumgrid-thumbnail {
	margin-bottom: 30px;
}

.footer {
  margin-top:15px;
  font-weight: bold;
}

.detail-nav {
padding-bottom:  15px;
}

.carousel-img img{
  width: auto;
  max-height: 520px;
  min-height: 520px;
}

.detail-img img{
  max-height: 520px;
  max-width: 100%;
}

.homepage-img img{
	max-height: 300px;
}

span.disabled{
	color: #C0C0C0;
}
 	
.panel-heading.active .panel-title {
	font-weight: bold;
}

.gallery-photo-name .active {
	font-weight: bold;
}

.list-group-item.active button.btn {
	color: #FFFFFF;
}

.list-group-item.active a {
	color: #FFFFFF;
}

.photogrid-caption {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	width: 100%;
}