<div class="container">
  <h2 class="section-header">Albums</h2>
        
  <div class="row">
    <div data-ng-include="'/tpl/subnav.html'"></div>
  </div>

  <!-- LIST VIEW -->
  <div class="row album-list" data-ng-show="view === 'list'">
    <div class="col-lg-12">
      <table class="table table-striped table-hover">
        <tbody class="album-list-table" ui-sortable="sortAlbums" data-ng-model="albums">  

          <!--Row per album  -->
          <tr data-ng-repeat="album in albums | filter:pmSvc.filter" data-ng-model="album" class="sortable" data-ng-album-order="{{$index}}">
            <td><a href="#/albums/detail/{{album._id}}">{{album.order + 1}}</a></td>
            <td><a href="#/albums/detail/{{album._id}}">{{album.name}}</a></td>
            <td>{{album.description}}</td>
            <td style="text-align: center" class="album-enabled">
              <a href="" data-ng-click="clickEnabled($index)">
                <span data-ng-class="(album.enabled) ? 'enabled' : 'disabled'" title="Show/Hide Album in Gallery" class="album-enabled glyphicon glyphicon-film"/>
              </a>
            </td>
            <td style="text-align: center">
              <a href="">
                <span class="glyphicon glyphicon-move" title="Click and Drag Rows to Reorder Albums"/>
              </a>
            </td>
            <td style="text-align: center" >
              <a href="#/albums/detail/{{album._id}}">
                <span class="glyphicon glyphicon-cog" title="Album Details"/>
              </a>
            </td>
            <td style="text-align: center">
              <a href="" data-ng-click="deleteAlbum(album)">
                <span class="glyphicon glyphicon-trash" title="Delete Album"/>
              </a>
            </td>
          </tr>

          <!-- row for add form--> 
          <tr class="nonsortable">
            <td></td>
            <td><input data-ng-model="newAlbum.name" type="text" class="form-control" placeholder="New album"></td>
            <td><input data-ng-model="newAlbum.description" type="text" class="form-control" placeholder="Description"></td>
            <td style="text-align: center"><input data-ng-model="newAlbum.enabled" type="checkbox"> </td>                 
            <td colspan="3"/>
          </tr> 

          <!-- buttons -->
          <tr class="nonsortable">
            <td></td>
            <td colspan="6"><a class="btn btn-primary" ng-click="saveAlbum(newAlbum)" data-ng-disabled="!newAlbum.name">Save New</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <!-- GRID VIEW -->
  <div class="row grid-container" data-ng-if="view === 'grid'">
    <div class="col-lg-4" data-ng-repeat="album in albums| filter:pmSvc.filter">
      <a href="#/albums/detail/{{album._id}}">
        <div class="thumbnail albumgrid-thumbnail">
          <img class="img-thumbnail" style="width: 280px; height: 240px" data-ng-src="{{album.coverPicPath}}"/>
          <div class="caption">
            <h3>{{album.name}}</h3>
            <p>{{album.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>