<div class="container">
    <div class="row detail-nav">


        <div class="col-lg-12">
            <h2 class="section-header">{{(album._id)? 'Edit ' : 'Add '}} Album</h2>
        </div>

        <div class="col-lg-4"> 

            <h3 class="item-header small">{{album.name}}</h3>
            <div class="well well-sm">
            <h4 class="item-header"><span class="glyphicon glyphicon-cog"></span> Details</h4>


            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="id" class="col-lg-4 control-label">ID:</label>
                    <div class="col-lg-8">
                    <input class="form-control input-sm" data-ng-model="album._id" disabled="" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-lg-4 control-label">Name:</label>
                    <div class="col-lg-8">                
                    <input class="form-control input-sm" data-ng-model="album.name" type="text">
                    </div>
                </div>
             
                <input class="form-control input-sm" data-ng-model="album.coverPic" type="hidden">               
                <input class="form-control input-sm" data-ng-model="album.coverPicPath" type="hidden">
              
                <div class="form-group">
                    <label for="name" class="col-lg-4 control-label">Cover Photo:</label>
                    <div class="col-lg-8">                  
                    <select 
                        class="form-control input-sm" data-ng-model="coverPic" data-ng-change="setCoverPic(coverPic)"
                        data-ng-options="f as f.name for f in displayPhotos">
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-lg-4 control-label">Description:</label>
                    <div class="col-lg-8">                
                    <textarea class="form-control input-sm" data-ng-model="album.description" rows="2"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                      <div class="checkbox">
                        <label>                  
                          <input type="checkbox" data-ng-model="album.enabled" ng-checked="album.enabled"> Show in Gallery 
                        </label>
                      </div>
                    </div>
                </div>

            </form>

            <a class="btn btn-primary" ng-click="saveAlbum(album, !(album._id))" data-ng-disabled="!album.name">Save</a>
            <a class="btn btn-default" ng-click="deleteAlbum(album, true)" data-ng-disabled="!album._id">Delete</a>
            </div>
        </div>

        <div class="col-lg-8" data-ng-show="album._id">
            <tabset>
                <!-- EDIT PHOTOS TAB -->
                <tab>
                    <tab-heading>
                        <h4 class=""><span class="glyphicon glyphicon-edit"></span> Edit Photos ({{displayPhotos.length}})</h4>
                    </tab-heading>
                    

                    <div class="form-group">
                        <input class="form-control input-sm" type="text" ng-model="searchText" placeholder="Search photos"></input>
                    </div>  


                    <table class="table table-striped table-hover">
                        <thead class="nonsortable">
                            <th>#</th>
                            <th>Name</th>
                            <th colspan="4">Description</th>                                                                
                        </thead> 
                        <tbody class="photo-list-table" ui-sortable="sortPhotos" data-ng-model="displayPhotos">    
                            <tr data-ng-repeat="item in displayPhotos |filter:searchText" data-ng-photo-order="{{$index}}" class="sortable"
                                data-ng-click="clickPhoto(item)" data-ng-class="(item._id === displayPhoto._id)? 'active' : '';">
                                <td>{{$index + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td style="text-align: center">
                                  <a href="">
                                    <span class="glyphicon glyphicon-move" title="Click and Drag Rows to Reorder Albums"/>
                                  </a>
                                </td>
                                <td style="text-align: center" >
                                    <a class="btn btn-xs btn-link" href="#/photos/detail/{{item._id}}" title="View Photo Details">
                                        <span class="glyphicon glyphicon-cog"></span>    
                                    </a>
                                </td>
                                <td style="text-align: center">
                                    <a class="btn btn-xs btn-link" title="Remove Photo From Album" data-ng-click="removePhotoFromAlbum(item)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>                                
                            </tr>           
                        </tbody>
                    </table>
                    <button data-ng-click="addPhotoToAlbum()" class="btn btn-default btn-sm">Add Photo</button>                                        
                </tab>      
                <!-- GALLERY PREVIEW TAB -->      
                <tab select="">
                    <tab-heading>
                        <h4 class=""><span class="glyphicon glyphicon-film"></span> Gallery </h4>
                    </tab-heading>
                    <div class="well well-sm">
                        <div class="detail-img">
                            <img data-ng-src="{{displayPhoto.filepath}}">
                        </div>      
                    </div>                    
                </tab>                
            </tabset>
        </div>

    </div>
</div>

