<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="section-header">Gallery</h2>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-3">
			<div class="panel-group">
			  <div class="panel panel-default" data-ng-repeat="a in albums| filter:{enabled: true}|orderBy:'a.order'">
			    <div class="panel-heading" data-ng-click="clickAlbum($index)" data-ng-class="(albums[$index]._id === album._id) ? 'active enabled' : 'disabled'">
			    	<a><h4 class="panel-title"><span class="glyphicon glyphicon-film" data-ng-class="(albums[$index]._id === album._id) ? 'enabled' : 'disabled'"></span> {{a.name}}</h4></a>
		    	</div>
			    <div class="panel-collapse" data-ng-class="a.opened ? 'collapse in' : 'collapse'">
			      <div class="panel-body gallery-photo-name">
			      	<div data-ng-repeat="p in a.photoList" data-ng-class="(p._id === photo._id) ? 'active' : ''">
			      		<a data-ng-click="clickPhoto(a._id, $index)">{{p.name}}</a>
			      	</div>
			      </div>
			    </div>
			  </div>

			</div>
		</div>



	<div class="col-lg-9">
		<div class="well well-sm">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-img item" data-ng-repeat="p in album.photoList" data-ng-class="(p._id === photo._id) ? 'active' : ''">
						<img data-ng-src="{{p.filepath}}">
					</div>		
				</div>
				<h3>{{photo.name}}</h3><h4>{{photo.description}}</h4>
			</div>
		</div>

		<ul class="pagination">
			<li data-ng-click="clickPhoto(album._id, prev)"><a>&laquo;</a></li>
			<li data-ng-repeat="p in album.photoList" data-ng-class="(p._id === photo._id) ? 'active' : ''" data-ng-click="clickPhoto(album._id, $index)"><a>{{$index + 1}}</a></li>
			<li data-ng-click="clickPhoto(album._id, next)"><a>&raquo;</a></li>
		</ul>

	</div>

</div>
