    <div class="row"> 
        <div> 

            <div class="col-lg-4"> 
                
                <div>
                <h3 class="section-header">{{(photo.name)? photo.name : 'New Photo'}}</h3>
                </div>

                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="id" class="col-lg-4 control-label">ID:</label>
                        <div class="col-lg-8">
                        <input class="form-control input-sm" data-ng-model="photo._id" disabled="" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-lg-4 control-label">Name:</label>
                        <div class="col-lg-8">                
                        <input class="form-control input-sm" data-ng-model="photo.name" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location" class="col-lg-4 control-label">Location:</label>
                        <div class="col-lg-8">                
                        <input class="form-control input-sm" data-ng-model="photo.location" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location" class="col-lg-4 control-label">Year:</label>
                        <div class="col-lg-8">                
                        <input class="form-control input-sm" data-ng-model="photo.year" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="album" class="col-lg-4 control-label">Album:</label>
                        <div class="col-lg-8">                
                        <select class="form-control input-sm" data-ng-model="photo.album">
                            <option data-ng-repeat="album in albums" data-ng-selected="album._id === photo.album" value="{{album._id}}">{{album.name}}</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-lg-4 control-label">Notes:</label>
                        <div class="col-lg-8">                
                        <textarea class="form-control input-sm" rows="2" data-ng-model="photo.description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">               
                            <input class="form-control input-sm" id="uploadfile" name="uploadfile" type="file" onchange="angular.element(this).scope().uploadFile(this.files)">                
                        </div>  
                    </div>
                </form>

                <a class="btn btn-primary" ng-click="pmSvc.savePhoto(photo)" data-ng-disabled="!photo.name">Save</a>
                <a class="btn" ng-click="pmSvc.deletePhoto(photo._id)" data-ng-disabled="!photo._id">Delete</a>        
            </div>

            <div class="col-lg-8" data-ng-if"photo.filepath !== ''">
                <div class="well well-sm">
                    <div class="detail-img" >
                        <img data-ng-src="{{photo.filepath}}">
                    </div>      
                </div>
            </div>

        </div>
    </div>
