<div class="container">
  <h3 class="section-header">Photos</h3>
        
  <div class="row">
    <div data-ng-include="'/tpl/subnav.html'"></div>
  </div>

  <div class="row photos-list" data-ng-if="view === 'list'">
    <div class="col-lg-12">
      <table id="photo-list" class="table table-striped">
        <tbody>  
          <!--
          <tr>
            <th>Name</th>
            <th>Album</th>
            <th>Description</th>
            <th style="text-align: center">Edit</th>
            <th style="text-align: center">Delete</th>            
          </tr>
        -->
          <tr data-ng-repeat="photo in photos| filter:pmSvc.filter">
            <td><a href="#/photos/detail/{{photo._id}}">{{photo.name}}</a></td>
            <td>{{photo.album}}</td>
            <td>{{photo.description}}</td>
            <td style="text-align: center"><a href="#/photos/detail/{{photo._id}}"><span class="glyphicon glyphicon-cog" title="Photo Details"></td>
            <td style="text-align: center"><a data-ng-click="pmSvc.deletePhoto(photo._id)"><span class="glyphicon glyphicon-remove" title="Delete Photo"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row grid-container" data-ng-if="view === 'grid'">
    <div class="col-lg-2" data-ng-repeat="photo in photos| filter:pmSvc.filter">
      <a href="#/photos/detail/{{photo._id}}">
        <div class="thumbnail photogrid-thumbnail">
          <img class="img-thumbnail" style="width: 120px; height: 120px" data-ng-src="{{photo.filepath}}"/>
          <div class="caption">
            <h4>{{photo.name}}</h4>
            <p>{{photo.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div data-ng-if="view === 'add'||view === 'detail'" >
    <div data-ng-include="'/tpl/photo-detail.html'"></div>  
  </div> 

</div>